 <div class="row createAccountContainer">

 <div class="col-md-6">
    <h2 class="createAccountTitle">Create Account</h2>

    <form class="form signup-form">
      <div class="form-group">
        <input class="form-input" type="text" id="Username-signup"  placeholder="Username"/>
        <div id="username-error" class="error-message"></div>
      </div>
       <div class="form-group">
        <input class="form-input" type="text" id="Email-signup"  placeholder="Email"/>
        <div id="email-error" class="error-message"></div>
      </div>
      <div class="form-group">
        <input class="form-input" type="text" id="First-signup"  placeholder="First Name"/>
        <div id="firstName-error" class="error-message"></div>
      </div>
      <div class="form-group">
        <input class="form-input" type="text" id="Last-signup"  placeholder="Last Name"/>
        <div id="lastName-error" class="error-message"></div>
      </div>
       <div class="form-group">
        <input class="form-input" type="text" id="Address-signup"  placeholder="Address"/>
        <div id="Address-error" class="error-message"></div>
      </div>
         <div class="form-group">
        <input class="form-input" type="text" id="Phone-signup"  placeholder="Phone Number"/>
        <div id="Phone-error" class="error-message"></div>
      </div>
      <div class="form-group">
        <input class="form-input" type="password" id="password-signup"  placeholder="Password"/>
        <div id="password-error" class="error-message"></div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>

       <nav  class="form-group">
        <a href="/login">Already have an account?</a>
      </nav>
    </form>
  </div>
</div>
  </div>


<script src="./js/signup.js"></script>
