
a {
    text-decoration: none;
}

a {
    color: black;
}

a {
    cursor: pointer;
}

body{
    background-color: #EDE1D1;
    margin: 0;
    font-family: Arial, sans-serif; 
}

header {
   background-color: rgba(65, 46, 39, 0.9);
   margin: 0px;
   display: flex;
   justify-content: space-between;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   align-items: center;  

}

h1 a {
    color: #6A704C;
    margin-left: 20px;
    font-size: 75px;
    /* height: 50%; */
    top: 2.5%;
    right: 41%;
    text-decoration: underline;
    position: absolute;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header nav a {
    color: #6A704C;
    font-size: 25px;
    margin-left: 20px;
}


.book-container {
    background-color: #6A704C;
    width: 400px;
    /* height: 400px; */
    display: flex;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 2px #2a3019;
}

.book-container .buy-book img {
    width: 150px;
    background-color: #EDE1D1;
    /* height: 150px; */
}

.book-container .buy-book h3 {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.myOrdersCardHeader {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 450px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

}

.myOrders{
    width: 100%;
}

.pendingOrdersContainer{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 16px;

}

.myOrdersUsername {
    font-size: 2.0em;
    color: #EDE1D1;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}
.myOrdersUsername:hover {
    font-size: 2.1em;
}
 
.myOrdersheader{
    font-size: 4.3em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.pendingText{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.0em;

}


.logo{
    width: 150px;
    margin-left: 10px;
    padding:5px;
}



.pendingContainer{
    text-align: center;
}

.book-container .buy-book .view:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-container .buy-book .add-to-cart:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-container .book-info .tag {
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.desContainer{
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
}

.book-container .buy-book, .book-info {
    margin: 20px
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    /* display: flex; */
}

/* .bookPhoto{
    height: 100%;
} */

.seller-page{
    width: 100%;
    text-align: center;

}
.seller-info{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.book-page-container {
    background-color: #424a26;
    width: 600px;
    /* height: 500px; */
    display: flex;
    border-radius: 10px;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    box-shadow: 2px 2px 2px #2a3019;
}

.book-page-container .buy-book img {
    /* width: 150px; */
    background-color: lightgray;
    /* height: 150px; */
}

.book-page-container .buy-book h3 {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}


.books-for-sale{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.book-page-container .buy-book .view:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-page-container .buy-book .add-to-cart:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-page-container .book-info .tag {
    background-color: green;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.book-page-container .buy-book, .book-info {
    margin: 20px
}

.createAccountContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
    max-width: 400px;
    width: 100%;
  }

  .createAccountTitle {
    font-size: 34px;
    font-weight: bold;
    color: #6A704C;
    margin-bottom: 20px;
    text-align: center;
  }

  
  .form {
    display: flex;
    flex-direction: column;
  }

  .postBookButton{
    background-color: #6A704C;
    color: #fff;
    width: 150px;
    height: 75px;
    border-radius: 8px;
    font-size: 24px;

  }

  .postBookButton:hover{
    cursor: pointer;
    background-color: #5d6343;

  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .form-group .btn {
    background-color: #6A704C;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .btn-primary:hover {
    background-color: #5d6343;
  }

  nav.form-group a {
    color:  #412e27;
    text-decoration: none;
    font-size: 32px;

  }
  
  nav.form-group a:hover {
    text-decoration: underline;
    color:  #412e27;
    transition: 1s;

  }

  .error-message {
    color: red;
    font-size: 18px;
    margin-top: 5px;
  }


  .container {
    width: 80%;
    max-width: 800px; 
    background-color: #fff; 
    padding: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .welcome-section {
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .form-section h3 {
    text-align: center;
    margin-bottom: 20px; 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; 
  }
  
  label {
    width: 150px; 
    margin-right: 10px; 
    font-weight: bold;
    text-align: right; 
  }
  
  input[type="text"],
  input[type="number"] {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px; 
    box-sizing: border-box; 
  }
  
  button {
    background-color: #6A704C; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
  
  }
  
  button:hover {
    background-color: #575c3e; 
  }


.cart-container {
border: solid 5px black;
border-radius: 10px;
margin-top: 100px;
margin-bottom: 50px;
}

.book-in-cart {
background-color: #a47e4f;
margin: 10px;
padding: 20px;
border-radius: 5px;
}


.cartBtnContainer {
  display: flex;
  justify-content: center;
}

.checkout {
    background-color: #424a26;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 100px;
    border: none;
}

.bookCartBtns {
  display: flex;
  flex-direction: column;
}

.viewBookCart {
  background-color: #424a26;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}

.checkout:hover {
    cursor: pointer;
    background-color: #D7BE69;
    color: black;
}

.remove-from-cart {
    background-color: #424a26;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
}

.empty-cart {
  text-align: center;
  padding: 20px;
}



.mobile-menu-button {
  display: none; 
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {

  .navMenu {
    display: none; 
    flex-direction: column; 
    position: absolute; 
    /* background-color: white;  */
    width: 160px;
    color: white;
    text-align: center;
    top: 20px; 
    left: 40%;
    z-index: 1;
    border-radius: 8px;
  }
  header nav a {
    color: #fff;
   
}
  nav.active {
    display: flex; 
  }

  .headerList{
    display: none;
  }

  h1 a {
    display: none;
  }
   .mobile-menu-button {
      display: block; 
    }

  .book-container{
    width: 400px;
  }

  .book-containerMobile{
    width: 330px;
  }

  /* .book-page-containerMobile{
    width: 330px;
  } */

  .book-cover{
    width: 200px;
  }

}
footer {
  background-color: #424a26;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}
h2, h3 {
  text-align: center;
}
.team-container {
  display: flex;
  justify-content: space-around; 
  gap: 20px; 
  margin-top: 20px;
}
.developer-card {
  background-color: #424a26;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 30%; 
  text-align: center;
}
.developer-card h4 {
  margin-bottom: 10px;
  color: #f9f9f9;
}
.developer-card img {
  max-width: 150px; /* Or any size you prefer */
  height: auto;
  display: block;
  margin: 0 auto; /* Centers the image */
}
.developer-card p {
  margin-bottom: 15px;
  color: #f9f9f9;
}
.developer-card a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: bold;
}
.developer-card a:hover {
  text-decoration: underline;
}
