
a {
    text-decoration: none;
}

a {
    color: black;
}

a {
    cursor: pointer;
}

header {
   background-color: #424a26;
   margin: 0px;
   display: flex;
   justify-content: space-between;
}

header h1 a {
    color: #a47e4f;
    margin-left: 20px;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header nav a {
    color: #a47e4f;
    font-size: 20px;
    margin-left: 20px;
}


.book-container {
    background-color: #A47E4F;
    width: 400px;
    height: 400px;
    display: flex;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 2px #2a3019;
}

.book-container .buy-book img {
    width: 150px;
    background-color: lightgray;
    height: 150px;
}

.book-container .buy-book h3 {
    background-color: #D7BE69;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.myOrdersCardHeader {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 450px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

}

.myOrders{
    width: 100%;
}

.pendingOrdersContainer{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 16px;

}

.myOrdersUsername {
    font-size: 2.0em;
    color: green;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
}
.myOrdersUsername:hover {
    font-size: 2.1em;
}
 
.myOrdersheader{
    font-size: 4.3em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.pendingText{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.0em;

}



.pendingContainer{
    text-align: center;
}

.book-container .buy-book .view:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-container .buy-book .add-to-cart:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-container .book-info .tag {
    background-color: green;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.book-container .buy-book, .book-info {
    margin: 20px
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    /* display: flex; */
}

.book-page-container {
    background-color: #A47E4F;
    width: 600px;
    /* height: 500px; */
    display: flex;
    border-radius: 10px;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    box-shadow: 2px 2px 2px #2a3019;
}

.book-page-container .buy-book img {
    width: 150px;
    background-color: lightgray;
    height: 150px;
}

.book-page-container .buy-book h3 {
    background-color: #D7BE69;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}



.book-page-container .buy-book .view:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-page-container .buy-book .add-to-cart:hover {
    cursor: pointer;
    border: solid 3px #424a26;
}

.book-page-container .book-info .tag {
    background-color: green;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.book-page-container .buy-book, .book-info {
    margin: 20px
}

.createAccountContainer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
    max-width: 400px;
    width: 100%;
  }

  .createAccountTitle {
    font-size: 34px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }

  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .form-group .btn {
    background-color: #424a26;
    color: #D7BE69;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }

  .btn-primary:hover {
    background-color: #2e331a;
  }

  nav.form-group a {
    color: #424a26;
    text-decoration: none;
    font-size: 24px;
  }
  
  nav.form-group a:hover {
    text-decoration: underline;

  }

  .error-message {
    color: red;
    font-size: 18px;
    margin-top: 5px;
  }

  /* Cart Page */

.cart-container {
border: solid 5px black;
border-radius: 10px;
margin-top: 100px;
margin-bottom: 50px;
}

.book-in-cart {
background-color: #a47e4f;
margin: 10px;
padding: 20px;
border-radius: 5px;
}

.book-in-cart:hover {
cursor: pointer;
background-color: #D7BE69;
}

.cartBtnContainer {
  display: flex;
  justify-content: center;
}

.checkout {
    background-color: #424a26;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 100px;
    border: none;
}

.checkout:hover {
    cursor: pointer;
    background-color: #D7BE69;
    color: black;
}

.remove-from-cart {
    background-color: #424a26;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
}

.remove-from-cart:hover {
    cursor: pointer;
    background-color: #A47E4F;
}


